<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
		<key>Name</key>
		<string>Cisco VPN</string>
		<key>TCP-Ports-Host</key>
		<string>10000</string>
		<key>TCP-Ports-Guest</key>
		<string>10000</string>
		<key>UDP-Ports-Host</key>
		<string>4500,10000</string>
		<key>UDP-Ports-Guest</key>
		<string>4500,10000</string>
	</dict>
    <dict>
		<key>Name</key>
		<string>CVS</string>
		<key>TCP-Ports-Host</key>
		<string>2401</string>
		<key>TCP-Ports-Guest</key>
		<string>2401</string>
		<key>UDP-Ports-Host</key>
		<string></string>
		<key>UDP-Ports-Guest</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>ICQ</string>
		<key>TCP-Ports-Host</key>
		<string>4000</string>
		<key>TCP-Ports-Guest</key>
		<string>4000</string>
		<key>UDP-Ports-Host</key>
		<string></string>
		<key>UDP-Ports-Guest</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>IRC</string>
		<key>TCP-Ports-Host</key>
		<string>194</string>
		<key>TCP-Ports-Guest</key>
		<string>194</string>
		<key>UDP-Ports-Host</key>
		<string></string>
		<key>UDP-Ports-Guest</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>MSN-Messenger</string>
		<key>TCP-Ports-Host</key>
		<string>6891-6900</string>
		<key>TCP-Ports-Guest</key>
		<string>6891-6900</string>
		<key>UDP-Ports-Host</key>
		<string></string>
		<key>UDP-Ports-Guest</key>
		<string></string>
	</dict>
	<dict>
		<key>Name</key>
		<string>VNC</string>
		<key>TCP-Ports-Host</key>
		<string>5900-5902</string>
		<key>TCP-Ports-Guest</key>
		<string>5900-5902</string>
		<key>UDP-Ports-Host</key>
		<string>5900</string>
		<key>UDP-Ports-Guest</key>
		<string>5900</string>
	</dict>
</array>
</plist>