<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
		<key>Name</key>
		<string>Webserver</string>
		<key>TCP-Ports-Host</key>
		<string>8080</string>
		<key>TCP-Ports-Guest</key>
		<string>80</string>
		<key>UDP-Ports-Host</key>
		<string></string>
		<key>UDP-Ports-Guest</key>
		<string></string>
		<key>Description</key>
		<string>This will let you access the guests Webserver from your hosts browser at http://localhost:8080.</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Samba</string>
		<key>TCP-Ports-Host</key>
		<string>1340</string>
		<key>TCP-Ports-Guest</key>
		<string>134</string>
		<key>UDP-Ports-Host</key>
		<string></string>
		<key>UDP-Ports-Guest</key>
		<string></string>
		<key>Description</key>
		<string>This will let you access the guests SMB server from your host at port 1340.</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>Remote Login (SSH)</string>
		<key>TCP-Ports-Host</key>
		<string>2200</string>
		<key>TCP-Ports-Guest</key>
		<string>22</string>
		<key>UDP-Ports-Host</key>
		<string></string>
		<key>UDP-Ports-Guest</key>
		<string></string>
		<key>Description</key>
		<string>This will let you access the guests SSH service from your host at port 2200.</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>FTP</string>
		<key>TCP-Ports-Host</key>
		<string>2100</string>
		<key>TCP-Ports-Guest</key>
		<string>21</string>
		<key>UDP-Ports-Host</key>
		<string></string>
		<key>UDP-Ports-Guest</key>
		<string></string>
		<key>Description</key>
		<string>This will let you access the guests FTP service from your host at port 2100.</string>
	</dict>
</array>
</plist>