<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
		<key>name</key>
		<string>ArchLinux</string>
		<key>version</key>
		<string>0.7</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>600</string>
		<key>author</key>
		<string>Simone Vellei for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/archlinux_0.7.tar.torrent</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>weburl</key>
		<string>http://www.archlinux.org</string>
		<key>description</key>
		<string>Arch Linux is an i686-optimized linux distribution targeted at competent linux users (read: not afraid of the commandline). Root password is 'archlinux'.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ArkLinux</string>
		<key>version</key>
		<string>2005.02 RC2</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>730</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/arklinux2005.2_rc2_20051001.tar.torrent</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>weburl</key>
		<string>http://www.arklinux.org/</string>
		<key>description</key>
		<string>Ark Linux is a GNU/Linux distribution designed especially for desktop use, easy to use even for people without prior Linux (or computing) experience while still powerful enough for power users.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>CentOS</string>
		<key>version</key>
		<string>4</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>550</string>
		<key>author</key>
		<string>Gary Law for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/CentOS4image.qcow.torrent</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>weburl</key>
		<string>http://www.centos.org/</string>
		<key>description</key>
		<string>CentOS exists to provide a free enterprise class computing platform to anyone who wishes to use it. CentOS 2, 3, and 4 are built from publically available open source SRPMS provided by a prominent North American Enterprise Linux vendor. It is designed for people who need an enterprise class OS without the cost or support of the prominent North American Enterprise Linux vendor.</string>
	</dict>
    <dict>
		<key>name</key>
		<string>Darwin</string>
		<key>version</key>
		<string>7.01</string>
		<key>ostype</key>
		<string>BSD</string>
		<key>size</key>
		<string>732</string>
		<key>author</key>
		<string>Jean-Michel Pouré for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/darwin701-x86-20040626.tar.bz2.torrent</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>weburl</key>
		<string>http://www.opendarwin.org/</string>
		<key>description</key>
		<string>Darwin is a free, open source, Unix-like operating system first released by Apple Computer in 2000. It is also the core set of components upon which Mac OS X was developed.</string>
	</dict>
    <dict>
		<key>name</key>
		<string>EucaristOS</string>
		<key>version</key>
		<string>0.3</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>1.4</string>
		<key>author</key>
		<string>Simone Vellei for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/eucaristos-0.0.3.img.tar.gz.torrent</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>weburl</key>
		<string>http://eucaristos.sourceforge.net/index.en.html</string>
		<key>description</key>
		<string>EucaristOS is a floppy Linux distribution with OpenMosix capabilities. Useful for testing OpenMosix.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FreeBSD</string>
		<key>version</key>
		<string>6.0</string>
		<key>ostype</key>
		<string>BSD</string>
		<key>size</key>
		<string>236</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/freebsd_6_0_x86.tar.torrent</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>weburl</key>
		<string>http://www.freebsd.org/</string>
		<key>description</key>
		<string>FreeBSD is an advanced operating system for x86 compatible architectures. It is derived from BSD, the version of UNIX developed at the University of California, Berkeley. It is developed and maintained by a large team of individuals.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>FreeDOS</string>
		<key>version</key>
		<string>beta9r5</string>
		<key>ostype</key>
		<string>Other</string>
		<key>size</key>
		<string>2.3</string>
		<key>author</key>
		<string>Ronald Delobel for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/freedos-beta9rc5.tar.tar.torrent</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>weburl</key>
		<string>http://www.freedos.org/</string>
		<key>description</key>
		<string>FreeDOS aims to be a complete, free, 100% MS-DOS compatible operating system (mostly achieved.) Today, FreeDOS is ideal for anyone who wants to bundle a version of DOS without having to pay a royalty for use of DOS. FreeDOS will also work on old hardware, in DOS emulators, and in embedded systems. FreeDOS is also an invaluable resource for people who would like to develop their own operating system. While there are many free operating systems out there, no other free DOS-compatible operating system exists.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Debian Sarge</string>
		<key>version</key>
		<string>3.1r0</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>240</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/sarge_2005_06_18.tar.torrent</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>weburl</key>
		<string>http://www.debian.org/</string>
		<key>description</key>
		<string>Debian is a free operating system (OS) for your computer. An operating system is the set of basic programs and utilities that make your computer run. Debian uses the Linux kernel (the core of an operating system), but most of the basic OS tools come from the GNU project; hence the name GNU/Linux. Debian GNU/Linux provides more than a pure OS: it comes with over 15490 packages, precompiled software bundled up in a nice format for easy installation on your machine.</string>
	</dict>
		<dict>
		<key>name</key>
		<string>Debian Sarge</string>
		<key>version</key>
		<string>3.1r1</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>595</string>
		<key>author</key>
		<string>Mattew Mundel for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://free.oszoo.org/ftp/images/debian-31r1a-i386-20060325.tar.torrent</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>weburl</key>
		<string>http://www.debian.org/</string>
		<key>description</key>
		<string>Debian is a free operating system (OS) for your computer. An operating system is the set of basic programs and utilities that make your computer run. Debian uses the Linux kernel (the core of an operating system), but most of the basic OS tools come from the GNU project; hence the name GNU/Linux. Debian GNU/Linux provides more than a pure OS: it comes with over 15490 packages, precompiled software bundled up in a nice format for easy installation on your machine.</string>
	</dict>
    <dict>
		<key>name</key>
		<string>Fedora</string>
		<key>version</key>
		<string>Core 2</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>896</string>
		<key>author</key>
		<string>Jean-Michel Pourè for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/fedora-core2-x86.tar.bz2.torrent</string>
		<key>weburl</key>
		<string>http://fedora.redhat.com</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>Fedora Core is a free operating system that offers the best combination of stable and cutting-edge software that exists in the free software world. Fedora Core is built to provide choice. It includes the latest versions of many software packages, including both GNOME and KDE desktop environments. Fedora Extras, a repository built entirely by volunteers, provides thousands more packages, and is enabled for use by default. root password is 'freeoszoo'.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fedora</string>
		<key>version</key>
		<string>Core 4</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>900</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/fedora_core_4_20051003.tar.torrent</string>
		<key>weburl</key>
		<string>http://fedora.redhat.com</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>Fedora Core is a free operating system that offers the best combination of stable and cutting-edge software that exists in the free software world. Fedora Core is built to provide choice. It includes the latest versions of many software packages, including both GNOME and KDE desktop environments. Fedora Extras, a repository built entirely by volunteers, provides thousands more packages, and is enabled for use by default.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mandrake/Mandriva</string>
		<key>version</key>
		<string>10</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>355</string>
		<key>author</key>
		<string>Jean-Michel Pouré for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/mandrake-10.0-x86.tar.bz2.torrent</string>
		<key>weburl</key>
		<string>http://wwwnew.mandriva.com</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>Mandriva Linux is well adapted to a wide array of personal computing requirements, from office to multimedia to development. root password is '' (no password).</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Suse</string>
		<key>version</key>
		<string>9.1</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>976</string>
		<key>author</key>
		<string>Jean-Michel Pouré for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://free.oszoo.org/ftp/images/SUSE-9.1-personal-x86.tar.bz2.torrent</string>
		<key>weburl</key>
		<string>http://www.opensuse.org</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>For most users Suse Linux 9.1 is the best choice to get in touch with Linux. It features an easy-to-install Linux operating system that lets you browse the Web, send e-mail, chat with friends, organize digital photos, play movies and songs, and create documents and spreadsheets. You can even use it to host a Web site or blog, create a home network and develop your own applications.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Suse</string>
		<key>version</key>
		<string>10.0RC1</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>947</string>
		<key>author</key>
		<string>Jean-Michel Pouré for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/suse_10rc1_20051001.tar.torrent</string>
		<key>weburl</key>
		<string>http://www.novell.com/products/suselinux/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>For rich, reliable and secure home computing, there's no better choice than SUSE Linux 10.0. It features an easy-to-install Linux operating system that lets you browse the Web, send e-mail, chat with friends, organize digital photos, play movies and songs, and create documents and spreadsheets. You can even use it to host a Web site or blog, create a home network and develop your own applications.</string>
	</dict>
    <dict>
		<key>name</key>
		<string>Slackware</string>
		<key>version</key>
		<string>10.2</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>550</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/slackware_10_2_20051106.tar.torrent</string>
		<key>weburl</key>
		<string>http://www.slackware.com/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>Since its first release in April of 1993, the Slackware Linux Project has aimed at producing the most "UNIX-like" Linux distribution out there. Slackware complies with the published Linux standards, such as the Linux File System Standard. We have always considered simplicity and stability paramount, and as a result Slackware has become one of the most popular, stable, and friendly distributions available.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ubuntu</string>
		<key>version</key>
		<string>Warty</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>1200</string>
		<key>author</key>
		<string>Renzo Davoli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/ubuntu-warty.zoo.tar.bz2.torrent</string>
		<key>weburl</key>
		<string>http://www.ubuntu.com/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>"Ubuntu" is an ancient African word, meaning "humanity to others". Ubuntu also means "I am what I am because of who we all are". The Ubuntu Linux distribution brings the spirit of Ubuntu to the software world. Ubuntu is a complete Linux-based operating system, freely available with both community and professional support. It is developed by a large community and we invite you to participate too!</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kubuntu</string>
		<key>version</key>
		<string>Breezy</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>1200</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/kubuntu_breezy_20051026.tar.torrent</string>
		<key>weburl</key>
		<string>http://www.kubuntu.org/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>Kubuntu is a user friendly operating system based on KDE, the K Desktop Environment. With a predictable 6 month release cycle and part of the Ubuntu project, Kubuntu is the GNU/Linux distribution for everyone.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Minix</string>
		<key>version</key>
		<string>3.1.1</string>
		<key>ostype</key>
		<string>Linux</string>
		<key>size</key>
		<string>16</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/minix3_1_1_x86.tar.torrent</string>
		<key>weburl</key>
		<string>http://www.minix3.org/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>MINIX 3 is a new open-source operating system designed to be highly reliable, flexible, and secure. It is based somewhat on previous versions of MINIX, but is fundamentally different in many key ways. MINIX 1 and 2 were intended as teaching tools; MINIX 3 adds the new goal of being usable as a serious system on resource-limited and embedded computers and for applications requiring high reliability.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>NetBSD</string>
		<key>version</key>
		<string>2.1</string>
		<key>ostype</key>
		<string>BSD</string>
		<key>size</key>
		<string>150</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/netbsd_2_1_x86.tar.torrent</string>
		<key>weburl</key>
		<string>http://www.netbsd.org/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>NetBSD is a free, secure, and highly portable Unix-like Open Source operating system available for many platforms, from 64-bit Opteron machines and desktop systems to handheld and embedded devices. Its clean design and advanced features make it excellent in both production and research environments, and it is user-supported with complete source. Many applications are easily available through pkgsrc, the NetBSD Packages Collection.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OpenBSD</string>
		<key>version</key>
		<string>3.8</string>
		<key>ostype</key>
		<string>BSD</string>
		<key>size</key>
		<string>100</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/openbsd_3_8.tar.torrent</string>
		<key>weburl</key>
		<string>http://www.openbsd.org/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>The OpenBSD project produces a FREE, multi-platform 4.4BSD-based UNIX-like operating system. Our efforts emphasize portability, standardization, correctness, proactive security and integrated cryptography. OpenBSD supports binary emulation of most programs from SVR4 (Solaris), FreeBSD, Linux, BSD/OS, SunOS and HP-UX.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OpenSolaris</string>
		<key>version</key>
		<string></string>
		<key>ostype</key>
		<string>Other</string>
		<key>size</key>
		<string>230</string>
		<key>author</key>
		<string>Johan Peyrard for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/opensolaris.tar.torrent</string>
		<key>weburl</key>
		<string>http://www.opensolaris.org/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>OpenSolaris is an open source project created by Sun Microsystems to build a developer community around the Solaris Operating System technology. The project is aimed at developers, system administrators, and users who want to develop and improve operating systems. Over 11,000 community members are registered on OpenSolaris.org, of whom over 9,900 are not Sun Microsystems employees.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>PC-BSD</string>
		<key>version</key>
		<string>0.82</string>
		<key>ostype</key>
		<string>BSD</string>
		<key>size</key>
		<string>707</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/pcbsd_082_20051010.tar.torrent</string>
		<key>weburl</key>
		<string>http://www.pcbsd.org</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>PC-BSD has as its goal to be an easy to install and use desktop OS, which is built on the FreeBSD operating system. To accomplish this, it currently has a graphical installation, which will enable even UNIX novices to easily install and getup and running. The system comes loaded with the K Desktop Environment (KDE), which lets users immediately sit down to a familiar interface. Also developed exclusively for PC-BSD is the PBI system, which lets users download and install their applications in a self-extracting and installing format, similar to InstallShield on Windows.</string>
	</dict>
    <dict>
		<key>name</key>
		<string>Plan9</string>
		<key>version</key>
		<string></string>
		<key>ostype</key>
		<string>Other</string>
		<key>size</key>
		<string>112</string>
		<key>author</key>
		<string>Bakul Shah for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://free.oszoo.org/ftp/images/plan9_060327.zip.torrent</string>
		<key>weburl</key>
		<string>http://www.cs.bell-labs.com/plan9/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>Plan 9 from Bell Labs is a research system developed at Bell Labs starting in the late 1980s. Its original designers and authors were Ken Thompson, Rob Pike, Dave Presotto, and Phil Winterbottom. They were joined by many others as development continued throughout the 1990s to the present.</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ReactOS</string>
		<key>version</key>
		<string>0.2.7</string>
		<key>ostype</key>
		<string>Other</string>
		<key>size</key>
		<string>10</string>
		<key>author</key>
		<string>Stefano Marinelli for FreeOSZoo</string>
		<key>torrent</key>
		<integer>1</integer>
		<key>url</key>
		<string>http://www.free.oszoo.org/ftp/images/reactos0.2.7-REL-qemu.zip.torrent</string>
		<key>weburl</key>
		<string>http://www.reactos.org/</string>
		<key>installtype</key>
		<string>Preconfigured</string>
		<key>description</key>
		<string>The ReactOS project is dedicated to making Free Software available to everyone by providing a ground-up implementation of a Microsoft Windows XP compatible operating system. ReactOS aims to achieve complete binary compatibility with both applications and device drivers meant for NT and XP operating systems, by using a similar architecture and providing a complete and equivalent public interface.</string>
	</dict>
</array>
</plist>